.header {
    float: left;
    width: 100%;
    height: 80px;
}

.user {
    top: 0;
    right: 10px;
    position: absolute;
}
.user_menu {
    float: left;
}


#user {
    width: 35px;
    height: 35px;
    margin: 0px 5px 0px 0px;
}
#exit {
    width: 35px;
    height: 38px;
    margin: 0px 0px 0px 5px;
}

#first_li {
    color: #313131;
}

#first_li:hover {
    color: #1b79da !important;
}

#menu {
    float:left;
    width:100%;
    list-style:none;
    font-weight:bold;
    margin-bottom:10px;
}

#menu li {
    float: left;
    position: relative;
    display: block;
    color: #313131;
    font-size: 16px;
    padding: 6px 10px;
}

#menu li ul li{
    float: left;
    padding: 17px 10px;
    background: none;
}



#menu li a{
    display:block;
    background: none;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    text-decoration: none !important;
    -moz-transition: color 0.8s linear;
    -o-transition: color 0.8s linear;
    -webkit-transition: color 0.8s linear;
}

#menu li{
    -moz-transition: color 0.8s linear;
    -o-transition: color 0.8s linear;
    -webkit-transition: color 0.8s linear;
    cursor: pointer;
}
#menu li a:hover{
    color: #efe465;
}
#menu li:hover{
    color: #1b79da;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#menu ul{
    width: 500px;
    list-style:none;
    position:absolute;
    left:-9999px;
    opacity:0;
    -moz-transition: opacity 1.2s linear;
    -o-transition: opacity 1.2s linear;
    -webkit-transition: opacity 1.2s linear;
}

ul a{
    white-space:nowrap;
    display:block;
}
#menu li ul li a {
    color: #d8d8d8;
    font-size: 13px;

}


#menu li:hover ul{
    left: 0;
    top: 25px;
    opacity: 1;
}
#menu li:hover .d_ul{
    height: 50px;
}
.d_ul{
    height: 0px;
    background:  rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 37px;
    left: 0;
    width: 100%;
    -moz-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    -webkit-transition: all 0.6s linear;
}

