#newRestaurant {
    margin-top: 80px;
}

#newRestaurant p {
    float: left;
    width: 250px;
    color: #23527c;
}

#newRestaurant input textarea {
    float: left;
    width:400px;
}

#newRestaurant div {
    margin: 10px;
    min-height: 40px;
    width: 100%;
}

#restaurantName, #workingHours, #workingHours, #phone, #website {
    width: 710px;
}

#addresses {
    float: left;
    width: 346px;
    margin-right: 5px;
}

#country, #city {
    float: left;
    width: 150px;
    margin: 0px 5px;
    height: 33px;
}
#add-address {
    float: left;
    height: 33px;
    width: 33px;
    padding: 0px;
    font-size: 25px;
    margin-left: 5px;
}


#shortInformation {
    width: 710px;
}

#information {
    width: 710px;
    height: 150px;
}

#newRestaurant label {
    width: 160px;
}