#information {
    margin-top: 80px;
    width: 970px;
    min-height: 300px;
}

#information img {
    width: 350px;
    float:left;
    margin: 5px 15px 0px 0px;
    background: white; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0,0,0,0.6); /* Параметры тени */
    padding: 10px;
}

#headInformation {
    color: #23527c;
    font-size: 22px;
}

#phoneText {
    float: left;
    color: #23527c;
    font-size: 15px;
    height: 30px;
    width: 120px;
}

#phoneValue {
    padding-left: 10px;
    float: left;
    height: 30px;
    width: 800px;
    font-size: 15px;
}

#websiteText {
    float: left;
    color: #23527c;
    font-size: 15px;
    height: 30px;
    width: 120px;
}

#websiteValue {
    padding-left: 10px;
    float: left;
    height: 30px;
    width: 800px;
    font-size: 15px;
}

#addressesText {
    float: left;
    color: #23527c;
    font-size: 15px;
    height: 30px;
    width: 120px;
}

#addressesValue {
    padding-left: 10px;
    float: left;
    height: 30px;
    width: 800px;
    font-size: 15px;
}
#cuisinesText {
    float: left;
    color: #23527c;
    font-size: 15px;
    height: 30px;
    width: 120px;
}

#cuisinesValue {
    padding-left: 10px;
    float: left;
    width: 800px;
    font-size: 15px;
    margin-bottom: 10px;
}

#workingHoursText {
    float: left;
    color: #23527c;
    font-size: 15px;
    height: 30px;
    width: 120px;
}

#workingHoursValue {
    padding-left: 10px;
    float: left;
    height: 30px;
    width: 800px;
    font-size: 15px;
}

#comments {
    float: left;
    margin-top: 30px;
    width: 970px;
}

#headComments {
    color: #23527c;
    font-size: 22px;
}

#comment {
    background: white;
    border: solid 1px #204d74;
    border-radius: 6px 6px 0px 0px;
    margin: 10px 10px;
}

#comments label {
    margin: 10px;
}

.button-addComment {
    float: right;
    margin-top: 10px;
    width: 210px;
}

#username {
    float: left;
    height: 35px;
    width: 50%;
    padding: 5px 10px;
    color: #fff;
    background-color: #596671;
}

textarea {
    resize: none;
}

#date {
    float: left;
    height: 35px;
    width: 50%;
    padding: 5px 10px;
    color: #fff;
    background-color: #596671;
}

#date p {
    float: right;
}

#username p {
    float: left;
}

#textComment {
    width: 100%;
    padding: 40px 10px 0px;
}