.content {
    margin-top: 80px;
}
.search {
    width: 100%;
    height: 60px;
}
.input-search {
    padding-left: 10px;
    float: left;
    width: 720px;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.button-search {
    margin: 0px 15px;
    width: 110px;
    height: 38px;
    padding: 2px;
    float: left;
}

.search select {
    padding-left: 10px;
    float: left;
    width: 110px;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.search select option {
    height: 38px;
}

.restaurants table{
    width: 770px;
}

table #td_img {
    width: 200px;
    height: 200px;
}

.restaurants img {
    width: 200px;
    height: 200px;
}

#empty {
    height: 20px;
}

.restaurant {
    margin-bottom: 15px;
    width: 100%;
    height: 200px;
}
#rest_img {
    float: left;
    width: 200px;
    height: 200px;
    background: white; /* Цвет фона */
    box-shadow: 0 0 15px rgba(0,0,0,0.6); /* Параметры тени */

}
#rest_inf {
    padding: 0px 10px;
    float: left;
    width: 570px;
    height: 200px;
}

.cuisine{
    float: left;
    width: 200px;
    height: 300px;
}

.restaurants {
    float: left;
    width: 770px;
}

#newRestaurant {
    width: 770px;
    height: 100px;
    margin-bottom: 15px;
}

#newRestaurant button {
    height: 100px;
    width: 200px;
    font-size: 25px;
    color: #286090;
    background: none;
    /* background: white; */
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.left_menu {
    list-style-type: none;
    padding: 0px;
}

.left_menu li {
    padding: 6px 5px;
}